.container{
	min-height: 100vh;
    height: auto;
    position: relative;
    min-width: 290px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
}

.container .login_form{
	width: 350px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 20px;
}

.container .login_form label{
	font-size: 25px;
	margin-bottom: 15px;
}

.container .login_form input[type="text"], .container .login_form input[type="password"] {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

